h1= title
p Welcome to #{title}
div#cruz-azul.canvas
  div.icon
    div.cruz-azul1
    div.cruz-azul2
    div.cruz-azul3
    div.cruz-azul4
    div.cruz-azul5
    div.cruz-azul6
    div.cruz-azul7 DEPORTIVO
    div.cruz-azul8 CRUZ AZUL
    div.cruz-azul9 
      div.m M
      div.e E
      div.x X
      div.i I
      div.c C
      div.o O
    div.cruz-azul10.estrella
      div.pico1
      div.pico2
      div.pico3
      div.pico4
      div.pico5

    
