.canvas
  height 380px
  margin 0px auto 0
  overflow hidden
  position relative
  top 0px
  text-indent -9999px
  width 380px
  z-index 10
.icon, .icon *
  position absolute
#cruz-azul
  .cruz-azul1
    background-color #2e3192
    height 380px
    width 380px
    border-radius(380px\/380px)
  .cruz-azul2
    background-color #ffffff
    border-radius(272px\/272px)
    height 272px
    left (( 380px - 272px ) / 2)
    top (( 380px - 272px ) / 2)
    width 272px
  .cruz-azul3
    background-color #ef3125
    height 152px
    left (( 380px - 152px ) / 2)
    top (( 380px - 152px ) / 2)
    width 152px
  .cruz-azul4
    background-color #ffffff
    border-radius(120px\/120px)
    height 120px
    left (( 380px - 120px ) / 2)
    top (( 380px - 120px ) / 2)
    width 120px
  .cruz-azul5
    background-color #2e3192
    height 100px
    left (( 380px - 30px ) / 2)
    top (( 380px - 100px ) / 2)
    width 30px
  .cruz-azul6
    background-color #2e3192
    height 30px
    left (( 380px - 100px ) / 2)
    top (( 380px - 30px ) / 2)
    width 100px
  .cruz-azul7, .cruz-azul8
    color #2e3192
    font-size 26px
    font-weight bold
    height 18px
    left (( 380px - 152px ) / 2)
    text-indent 0
    width 152px
  .cruz-azul7
    top 81px 
  .cruz-azul8
    top 263px
  .cruz-azul9
    color #ffffff
    font-size 35px
    font-weight 900
    height 39px
    left (( 380px - 147px ) / 2)
    text-indent 0
    top 316px
    width 147px
    .m
      left 0
      top 0
      transform(rotate(20deg))
    .e
      left 32px
      top 6px
      transform(rotate(7deg))
    .x
      left 58px
      top 8px
    .i
      left 82px
      top 8px
    .c
      left 92px
      top 7px
      transform(rotate(-7deg))
    .o
      left 117px
      top 0px
      transform(rotate(-20deg))
  .estrella
    border-right 7px solid transparent
    border-bottom 21px solid #ffffff
    border-left 7px solid transparent
    display block
    height 0
    top 33px
    left 100px
    width 0
    &:before
      border-bottom 16px solid #ffffff
      border-left 23px solid transparent
      border-right 23px solid transparent
      position absolute
      top 13px
      left -22px
      content ''
      transform(rotate(35deg))
    &:after
      border-bottom 16px solid #ffffff
      border-left 23px solid transparent
      border-right 23px solid transparent
      position absolute
      top 13px
      left -23px
      content ''
      transform(rotate(-35deg))
  .cruz-azul10
    left 44px
    top 91px
    transform(rotate(9deg))
  .cruz-azul11
    left 76px
    top 53px
    transform(rotate(25deg))
  .cruz-azul12
    left 119px
    top 24px
    transform(rotate(43deg))
  .cruz-azul13
    left 171px
    top 16px
    transform(rotate(68deg))
  .cruz-azul14
    left 198px
    top 16px
    transform(rotate(-61deg))
  .cruz-azul15
    left 250px
    top 27px
    transform(rotate(-43deg))
  .cruz-azul16
    left 289px
    top 53px
    transform(rotate(-25deg))
  .cruz-azul17
    left 321px
    top 91px
    transform(rotate(-9deg))

